@import '../base/base.scss';

.header {
  width: 100%;
  @include flex-column;
  &__top {
    width: 100%;
    @include flex-row;
    @include shadows;
    background-color: $black80;
    padding: 17px 0 14px 0;
    z-index: 1;
  }
  &__nav {
    width: 100%;
    padding: 3.5px 0;
    @include flex-row;
    @include drop-shadow;
    background-color: $white;
  }
  .logo {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 24px;
    line-height: 58px;
    letter-spacing: -2px;
    color: $black80;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $black100;
    -webkit-text-fill-color: $black40;
    @include text-shadows;
  }
  .links {
    width: 159px;
    @include flex-row;
    }
  .link {
    @include little-text;
    line-height: 9px;
    color: $white;
    &:hover {
      cursor: pointer;
    }
  }
  .wrapper {
    @include flex-row;
  }
  
}
