@import '../base/base.scss';

.block {
  width: 100%;
  margin-bottom: 80px;
}
.title {
  width: 100%;
  @include flex-row;
  align-items: flex-end;
  color: $black80;
  margin-bottom: 31px;
}
.items {
  width: 100%;
  @include flex-row;
}