@import '../base/base.scss';

.sliderBlock {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  //height: 505px;
  padding-bottom: 16px;

  .arrow {
    position: absolute;
    width: 1264px;
    left: 64px;
    top: 266px;
    @include flex-row;
    &__left, &__right {
      position: relative;
      width: 17px;
      height: 29px;
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: $white;
      z-index: 2;
      &:hover {
        cursor: pointer;
      }
      &:active {
        background-color: $black10;
      }
      &:disabled {
        background-color: transparent;
      }
    }
    &__left {
      mask-image: url('/Arrow Left.png');
    }
    &__right {
      mask-image: url('/Arrow Right.png');
    }
  }
  .slider {
    width: 100%;
    height: calc(100% - 16px);
    background-color: $white;
    overflow: hidden;

    &__images {
      display: flex;
      transform: translateX(0);
      transition: all 1s ease;
    }

    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      
      &:hover {
        cursor: grab;
      }
      &:active {
        cursor: grabbing;
      }

      img {
        width:100%;
        height: 100%;
        object-fit: contain;
        margin: 0 auto;
      }
    }

  
  }
}